<!DOCTYPE html>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="/assets/style/admin.css">
    </head>
    <body>
        <Component type="DevTools"></Component>
        <div id="router"></div>
        <script>
            window.ssr = false;
            window.defines = {};
            window.restAPI = '/api';
            window.parseAppId = 'Actinium';
        </script>
    </body>
</html>
